
/* *{border: 1px solid red;}         */


/* navbar */
#marca{
    font-family: 'Vollkorn SC', serif;
    color:#FEC965;
    font-size: 2.5vw;
    margin-left: 1vw;
    margin-right: 2vw;
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.navbar {
    padding: 0vw;

}
.container-fluid{
    background-color: #22242f;
    padding: 0vw;
    display: flex;
    align-items: baseline;
}

.nav-link{
    color: antiquewhite;
    font-family: serif;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.nav-link:hover{
    color:#FEC965 !important;
}

.navbar-toggler{
    color: antiquewhite;
}


/* ------------------------------------------------- */


body {
    font-family: serif;
    background-color: antiquewhite;
}

.row.g-5{
    background-color: antiquewhite;
    margin-top: 2.5vw;
}

#compras {
    color: white;
    
}

#subtotalcompra {
    color: #FEC965;
    font-weight:400 ;
    font-family: 'Vollkorn SC', serif;
}


.col-md-4{
    background-color: antiquewhite;
} 

.position-sticky{
    background-color:#343747;
    margin:1vw;


}




button.btn.btn-primary.w-100.fincompra{
    background-color: green;
    font-family: 'Vollkorn SC', serif;
    border-color: rgb(0, 117, 0);
}
button.btn.btn-danger.w-100.mb-2{
    background-color:rgb(192, 33, 33);
    font-family: 'Vollkorn SC', serif;
    border-bottom: rgb(168, 29, 29);
}

.card {
    position: relative;
    overflow: auto;
    border: 0.1vw solid #ddd;
    border-radius: 0.6vw;
    padding: 1vw;
    transition: transform 0.3s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
} 


.card:hover {
    transform: scale(1.06);  
}

.col-md-4 img {
    width: 24vw;
    height: 26vw;
    transition: transform 0.3s;
    object-fit: cover;
} 


.card-title {
    font-family: 'Vollkorn SC', serif;
    font-size: 2vw;
    font-weight: bold;
    margin: 1vw 0 1vw;
}

.card-description {
    color: #666;
    font-size: 1.2vw;
    margin-bottom: 0.02vw;
}

.card-price {
    font-size: 1.4vw;
    font-weight: bold;
    margin:0;
}

.card-body button{
    background-color: antiquewhite;
    width: 9vw;
    height: 3vw;
    border-radius: 6px;
    border: none;
    font-size: 1.4vw;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}
.card-body button:hover{
    background-color:#343747;
    color: antiquewhite;
}



.compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.compra .titulo {
margin-right: 10px;
}

.compra .eliminar {
color: red;
cursor: pointer;
}

/* HACER ESTA PARTE DE RESPONSIVE DEL CELU */
/*  -----------------------media queries para un celular ----------------------- */
@media (max-width: 576px)  {
 

  
  
  
  
}