body{
  background-color: #ffffff;
  font-family: serif;
}



/* ----------------------comienzo NAVBAR---------------------------- */

#navbar {
  list-style-type: none;
  margin: 0vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  overflow: hidden;
  background-color: #22242f; 
  border-radius: 0.4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}
   
.nv a {
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  text-decoration: none;
  font-size: 1.5vw;
}
 
.nv a:hover {
  background-color: #343747;
}





/* -----------------------comienzo ENCABEZADO---------------------------- */

.encabezado {
  width: 100%;
  padding: 2vw 0;
  background-image: url(./images/fondonombre.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre-pag{
  width: 45%;
  text-align: center;
}

.nombre-pag h1{
  font-family: 'Vollkorn SC', serif;
  color:#FEC965;
  font-size: 5vw;
  margin-bottom: 1vw;
}

.nombre-pag h3{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: medium;
}



/*  -----------------------comienzo PARTE 1 ----------------------- */

.parte1 {
  width: 100%;
  padding: 8vh 0;     
  background-color: antiquewhite;
}

.parte1 img{
  height: 18vw;
  width: 20vw;
  border-radius: 0.6vw;
}

.texto-parte1{
  width: 60%;
  margin-left: 4vw;
}

span{
  color: #94442b;
  font-weight: bold ;
}

.texto-parte1 p{
  font-size: 1.5vw;
  margin-bottom: 1.6vw;
  font-style: italic;
}

.texto-parte1 h4{
  font-size: 1vw;
  font-weight: bold;
}

.main{
  width: 90vw;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.2vw outset #22242f;
  border-right: 0.2vw outset #22242f;        
} 



/*  -----------------------comienzo PARTE 2 ----------------------- */

.parte2{
  background: #22242f;
  width: 100%;
  padding: 1.5625vw 0;
}

.tituloproductos h2{
  color: #fcd5a2;
  font-size: 2.8vw;
  margin: 1.6vw auto;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
}


.caja{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carta{
  height: 28vw;
  width: 18vw;
  padding: 1vw 1vw;
  background-color: antiquewhite;
  border-radius: 1vw;
  margin: 1vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.carta img{
  height: 20vw;
  width: 15vw;
  border-radius: 0.3vw;
}

.descripcionfoto h6 {
  font-family: 'Vollkorn SC', serif;
  color: #94442b;
  font-size: 1.4vw;
  line-height: 1.25vw;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}

.descripcionfoto p{
  color: gray;
  font-size: 1vw;
}

.span2{
  color: #94442b;
  font-weight: bold;
}

.ircatalogo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vw;
}

.ircatalogo .button{
  background-color: #263143;
  width: 20vw;
  height: 3.5vw;
  border-radius: 10px ;
  border: none;
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: 1.4vw;
  font-weight: 300;
}

.ircatalogo .button:hover{
  background-color: white;
  color: black;
}

a.button{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}



/*  -----------------------comienzo PARTE 3 ----------------------- */

.parte3 {
  background-color: antiquewhite;
  text-align: center;
  padding: 2vw;
}

.parte3 h3{
  font-family: 'Vollkorn SC', serif;
  font-style: italic;
  font-size: 2vw;
  margin: 0;
}





/*  -----------------------comienzo FOOTER ----------------------- */

footer{
  width: 100%;
  position:relative;
  background-color:  #22242f;
  padding: 0.5vw ; 
  font-size: 1vw ;
  
}

.fila{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}


.col{
  flex-basis: 20%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 2vw;
  padding-left: 2vw;
  display: grid;
  justify-content: center;
  justify-items: center;
} 

.marca{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: 2vw;
  margin-bottom: 1vw;
  text-align: center;
}

.joyeria{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: 1vw;
  text-align: center;
}


.col h3{
  width: fit-content;
  margin-bottom: 2vw;
  position: relative;
  font-size: 1.5vw;
}



.email-id{
  width: fit-content;
  border-bottom: 0.2vw solid #ffffff;
  margin: 1vw 0;
}

.col ul{
  padding: 0;
}

.fot{
  list-style-type: none;
  margin-bottom: 1vw;
}

.fot a{
  text-decoration: none;
  color: #ffffff;
}




/*  -----------------------media queries para un celular ----------------------- */
@media (max-width: 576px)  {
 
  /* ----------------------comienzo NAVBAR---------------------------- */
  #navbar {
    justify-content: space-evenly; 
  }

  .nv a {
    padding: 1vw 8vw;
    font-size: 2.9vw;
  }

  /* -----------------------comienzo ENCABEZADO---------------------------- */
  .encabezado {
    width: 100%;
    padding: 8vw 0;
    background-size: 100% ;
  }

  .nombre-pag h1{
    font-size: 5vw;
  }
  

  /*  -----------------------comienzo PARTE 1 ----------------------- */
  .parte1 {
    padding: 4vh 0;     
  }
  
  .parte1 img{
    height: 0;
    width: 0;
  }
  
  .texto-parte1{
    width: 94%;
    margin-left: 2vw;
  }
  
  .texto-parte1 p{
    font-size: 3.2vw;
    text-align: center;
  }
  
  .texto-parte1 h4{
    font-size: 3vw;
  }
  
  .main{
    width: 100vw;
    align-items: baseline;
    flex-direction: column-reverse;
  } 


  /*  -----------------------comienzo PARTE 2 ----------------------- */

  .parte2{
    width: 100%;
    padding: 1.5625vw 0;
  }

  .tituloproductos h2{
    font-size: 3.8vw;
    margin: 3vw auto;
  }

  .caja{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .carta{
    height: 58vw;
    width: 48vw;
  }

  .carta img{
    height: 40vw;
    width: 35vw;
  }

  .descripcionfoto h6 {
    font-size: 3.8vw;
    line-height: 1.vw;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
  }

  .descripcionfoto p{
    font-size: 3vw;
    margin: 1vw;
  }

  .ircatalogo{
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .ircatalogo .button{
    width: 40vw;
    height: 6vw;
    font-size: 3vw;

  }


  /*  -----------------------comienzo PARTE 3 ----------------------- */
  .parte3{
    padding: 4vw;
  }

  .parte3 h3{
    font-size: 4vw;
    margin: 1vw;
  }

  /*  -----------------------comienzo FOOTER ----------------------- */

  footer{
    bottom: unset;
    font-size: 3vw ;
  } 

  .col{
    flex-basis: 100%;
    padding-top: 6vw;
  } 
  
  .col :nth-child(2), .col :nth-child(3){
    flex-basis: 100%;
  }
  .marca{
    font-size: 4.8vw;
    margin-top: 2vw;
  }
  
  .joyeria{
    font-size: 3vw;
  }

  .col h3{
    font-size: 3.7vw;
    border-bottom: 0.2vw solid #ffffff;
  }
  .email-id{
    border-bottom: 0vw solid #ffffff;
  }

}