#marca{
    font-family: 'Vollkorn SC', serif;
    color:#FEC965;
    font-size: 2.5vw;
    margin-left: 1vw;
    margin-right: 2vw;
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.navbar {
    padding: 0vw;

}
.container-fluid{
    background-color: #22242f;
    padding: 0vw;
    display: flex;
    align-items: baseline;
}

.nav-link{
    color: antiquewhite;
    font-family: serif;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.nav-link:hover{
    color: #fec965 !important;
}

.navbar-toggler{
    color: antiquewhite;
}

/* --------------------- */
body{
    background-color: antiquewhite;
}

.parte1 {
    width: 100%;
    padding: 8vh 0;     
    background-color: antiquewhite;
  }
  
.texto-parte1{
    width: 80%;
    margin-left: 4vw;
}


.texto-parte1 p{
    font-family: serif;
    font-size: 1.5vw;
    margin-bottom: 1.6vw;
    font-style: italic;
}


.main{
    width: 90vw;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.2vw outset #22242f;
    border-right: 0.2vw outset #22242f;        
} 

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-container .content {
    font-family: 'Vollkorn SC', serif;
    display: flex;
    justify-content: center;             /*  no puedo poner en el centro de todo a la frase */
    text-align: center;
    
}