body{
  background-color: #ffffff;
}


/* *{border: 1px solid red;}       */



/* ----------------------comienzo NAVBAR---------------------------- */

#navbar {
  list-style-type: none;
  margin: 0vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  overflow: hidden;
  background-color: #22242f; 
  border-radius: 0.4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


  
}
   
.nv a {
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  text-decoration: none;
  font-size: 1.5vw;
}
 
.nv a:hover {
  background-color: #343747;
}





/* -----------------------comienzo ENCABEZADO---------------------------- */

.encabezado {
  width: 100%;
  padding: 2vw 0;
  background-image: url(./images/fondonombre.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre-pag{
  width: 45%;
  text-align: center;
}

.nombre-pag h1{
  font-family: 'Vollkorn SC', serif;
  color:#FEC965;
  font-size: 5vw;
  margin-bottom: 1vw;
}

.nombre-pag h3{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: medium;
}



/*  -----------------------comienzo PARTE 1 ----------------------- */

.parte1 {
  width: 100%;
  padding: 8vh 0;     
  background-color: antiquewhite;
}

.parte1 img{
  height: 18vw;
  width: 20vw;
  border-radius: 0.6vw;
}

.texto-parte1{
  width: 60%;
  margin-left: 4vw;
}

span{
  color: #94442b;
}

.texto-parte1 p{
  font-size: 1.5vw;
  margin-bottom: 1.6vw;
  font-style: italic;
}

.texto-parte1 h4{
  font-size: 1vw;
}

.main{
  width: 90vw;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.2vw outset #22242f;
   border-right: 0.2vw outset #22242f;          /*  me aparece un borde de color diferente al otro */
} 



/*  -----------------------comienzo PARTE 2 ----------------------- */

.parte2{
  background: #22242f;
  width: 100%;
  padding: 1.5625vw 0;
}

.tituloproductos h2{
  color: #fcd5a2;
  font-size: 2.8vw;
  margin: 1.6vw auto;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
}


.caja{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carta{
  height: 28vw;
  width: 18vw;
  padding: 1vw 1vw;
  background-color: antiquewhite;
  border-radius: 1vw;
  margin: 1vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.carta img{
  height: 20vw;
  width: 15vw;
  border-radius: 0.3vw;
}

.descripcionfoto h6 {
  font-family: 'Vollkorn SC', serif;
  color: #94442b;
  font-size: 1.4vw;
  line-height: 1.25vw;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}

.descripcionfoto p{
  color: gray;
  font-size: 1vw;
}

.span2{
  color: #94442b;
  font-weight: bold;
}





/*  -----------------------comienzo FOOTER ----------------------- */

footer{
  width: 100%;
  position:relative;
  background-color:  #22242f;
  padding-top: 2vw;
  padding-bottom: 2vw; 
  font-size: 0.8vw ;
  
}

.fila{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: #ffffff;
}


.col{
  flex-basis: 20%;
  padding: 0.5vw;
} 

.marca{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: 2vw;
  margin-bottom: 1vw;
  text-align: center;
}

.joyeria{
  font-family: 'Vollkorn SC', serif;
  color: #FEC965;
  font-size: 1vw;
  text-align: center;
}


.col h3{
  width: fit-content;
  margin-bottom: 2vw;
  position: relative;
}

.col :nth-child(2), .col :nth-child(3){
  flex-basis: 15%;
}

.email-id{
  width: fit-content;
  border-bottom: 0.2vw solid #ffffff;
  margin: 1vw 0;
}

.fot{
  list-style-type: none;
  margin: 0vw;
}
                                       /* arreglar la parte de los links no quedó bien */
.fot a{
  text-decoration: none;
  color: #ffffff;
}

form{
  padding-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2vw solid #ffffff;
  margin-bottom: 2vw;
}

form .far{
  font-size: 1vw;
  margin-right: 0.4vw;
}
                           /* arreglar la parte del ingreso del mail no quedó bien */
form input{
  width: 100%;
  background: transparent;
  border: 0;
  color: #ffffff;
  outline: none;
}

form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid{
  font-size: 1vw;
  color: #ffffff;
}

.iconos-redes .fa-brands{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  text-align: center;
  line-height: 2vw;
  font-size: 2vw;
  color: #22242f;
  background-color: #ffffff;
  margin-right: 1.5vw;
  cursor: pointer;
}





/*  -----------------------media queries para un celular ----------------------- */
@media (max-width: 576px)  {
  body {
    background-color: blueviolet;
  }

  footer{
    bottom: unset;
  } 

  .col{
  flex-basis: 100%;
  } 
  
  .col :nth-child(2), .col :nth-child(3){
    flex-basis: 100%;
  }





}