body{background-color: #6D9773;}

#nombreylogo{
  display: block;
  width: 1304px;
  border: 5px solid rgb(253, 253, 253);
  padding: 10px; 
  margin: 10px;
}

#titular{color: rgb(0, 0, 0); font-size: 60px; text-align: center;}


#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0C3B2E;
    border-radius: 5px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 45px;
    text-decoration: none;
  }
  
  /* preguntar bien qué es ésto */
  li a:hover {
    background-color: #0C3B2E;
  }

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

li {
  float: center;
}

.elemento{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}